
.box-image {
  width: 100%;
  height: auto;
  max-height: 30rem;
  object-fit: cover;
  border-radius: 1rem;
  opacity: 0.7;
}
.box-title {
  font-family: "Newsreader", serif;
  letter-spacing: 0.1rem;
  font-size: 3rem;
  margin-top: 1rem;
  color: white;
}
.box-source,
.box-date {
  font-family: "PT Serif", sans-serif;
  font-size: 1.5rem;
  color: rgb(187, 187, 187);
  margin-top: 1rem;
}
.box-content {
  font-size: 1.8rem;
  color: white;
  margin-top: 1rem;
  margin-bottom: 2rem;
  line-height: 2.5rem;
}

.news-link {
  background-image: linear-gradient(
    to right,
    #222324 0%,
    #1f1f23dc 25%,
    #000000 50%,
    #21212392 75%,
    #2a2b2c 100%
  );
}
.news-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12rem;
  height: 4rem;
  text-transform: uppercase;
  transition: 0.3s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
}

.news-link:hover {
  background-position: center right;
  color: #ffffffe0;
  text-decoration: none;
}
.news-link:active{
  transform: translateY(5%);
}